body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("https://images.pushsquare.com/19a383b57e842/resident-evil-village-demo-all-times-you-can-play-guide-1.original.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	font-family: 'Courier Prime', monospace;
}

/* Full Body Container */
.container {
	width: 100%;
	padding-left: 20px;
}

/* Header Navigation Bar */
nav {
	position: fixed;
	z-index: 5;
	left: 0px
}

.nav-wrapper {
	background-color: #111;
}

#logo {
	position: absolute;
	top: 0px;
	left: 50px;
	height: 60px;
	z-index: 3;
}

ul {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 200px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}

li {
	color: white;
	margin-left: 5px;
}

/* Middle Body Section */
.middle {
	position: relative;
	top: 80px;
	left: -10px;
	width: 100%;
	color: white;
	font-size: 14px;
}

.info {
	position: relative;
	height: 120px;
	padding: 22px;
}

#creator {
	border-radius: 0px 10px 0px 0px;
	padding-top: 6px;
	border-left: 5px solid #990000;
}

#contributor {
	padding-top: 3px;
	border-left: 5px solid #990000;
}

#version {
	border-radius: 0px 0px 10px 0px;
	border-left: 5px solid #990000;
}

#creator, #contributor, #version {
	position: relative;
	top: 0px;
	left: -22px;
	width: 100%;
	padding-left: 10px;
	background: rgba(0,0,0,0.6);
}

.headername {
	text-transform: uppercase;
	border-left: 5px solid #990000;
	position: relative;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	font-size: 30px;
	text-align: left;
	padding-left: 10px;
	background: rgba(0,0,0,0.8);
	color: #ff0000;
}

.description {
	position: relative;
	border-left: 5px solid #990000;
	border-radius: 0px 0px 10px 10px;
	width: 100%;
	padding: 10px;
	color: white;
	background: rgba(0,0,0,0.6);
}

.row {
  text-align: center;
	padding-top: 10px;
}

.column {
	width: 20%;
  display: inline-block;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 15px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#footer {
	color: #990000;
	margin: 20px;
	width: 100%;
	text-align: center;
	text-shadow: -1px -1px white, 
		1px 1px white, 
		-1px 1px white, 
		1px -1px white;
}